streamlit==1.55.0
mistralai==2.0.0
langchain==1.2.12
faiss-cpu==1.13.2
pandas==2.3.3
python-dotenv==1.2.2
requests==2.32.5
streamlit-feedback==0.1.4
SQLAlchemy==2.0.48
plotly==6.6.0
rank-bm25==0.2.2
langchain-text-splitters==1.1.2
fastapi==0.141.1
uvicorn==0.52.4
fastapi-cli==0.0.32
pytest==9.1.1
google-genai==2.24.0